# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

# Testing
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy and Pyright
.mypy_cache/
.pyright/

# PyInstaller
*.spec

# Unit test, coverage reports
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pydantic compiled validators (Pydantic v2+)
__pydantic_model__.*
